<% provide(:title, 'Odpowiedz') %>
<h1>Odpowiedz</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@contact) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :title, "Tytuł:" %>
      <%= @contact.title %><br><br>
      
      <%= f.label :message, "Wiadomość:" %><br>
      <%= @contact.message %><br><br>
      
      <%= f.label :respond, "Odpowiedź:" %>
      <%= f.text_area :respond %>
 
      <%= f.submit "Wyslij".html_safe, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>