<% provide(:title, 'Wiadomosc') %>
<h1>Temat: <%= @contact.title %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@contact) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :message, "Wiadomosc" %>
      <%= @contact.message %>
      
      <%= link_to "Odpowiedz", edit_contact_path(@contact) %>
      
    <% end %>
  </div>
</div>