<% provide(:title, "Strona domowa") %>

<div class="container">
   <%= render 'carousel/carousel_holder' %>
   <div class="col-md-9">
      <div class="row">
          <%= render 'product/one_product' %>
          <%= render 'product/one_product' %>
          <%= render 'product/one_product' %>
          <%= render 'product/one_product' %>
          <%= render 'product/one_product' %>
          <%= render 'product/one_product' %>
      </div>
  </div>
</div>

