<p id="notice"><%= notice %></p>

<h1>Lista stanów zamówienia</h1>

<table align="center">
  <thead>
    <tr>
      <th width=50% style="text-align:center">Nazwa</th>
      <th colspan="3" style="text-align:center">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @order_states.each do |order_state| %>
      <tr>
        <td><%= order_state.name %></td>
        <td><%= link_to 'Pokaż', order_state, :class => "btn btn-xs btn-info" %></td>
        <td><%= link_to 'Edytuj', edit_order_state_path(order_state), :class => "btn btn-xs btn-warning" %></td>
        <td><%= link_to 'Usuń', order_state, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć stan zamówienia?' }, :class => "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
    <td colspan=4 style="text-align:center"><br><%= link_to "<span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\"/> Dodaj nowy stan".html_safe, new_order_state_path, :class => "btn btn-success" %></td>
  </tbody>
</table>
