<% provide(:title, @item.title) %>

<h1>Potwierdzenie zamówienia<br></h1>


      <%= @item.title %><br>
      <%= @item.price %> zł<br>
      <%= link_to image_tag(@item.photo.url(:small)), @item.photo.url %>

<%= form_for(@order_item) do |f| %>
        <%= f.label :how_many, "Ilosć", class: 'required' %>
        <%= f.number_field :how_many, class: 'form-control', :required => true %>
        
        <%= f.hidden_field :good_id, :value => @item.id %>
        
        <%= f.fields_for :order, @order do |s| %>
            <%= s.label :send_way_id, "Metoda wysyłki" %>
            <%= s.select :send_way_id, options_for_select(SendWay.where(:good_id => @item.id).pluck(:name, :id)) %>  
        <% end %>

        
        <%= f.submit "Przejdź do potwierdzenia", class: "btn btn-primary" %>
<% end %>










