<% provide(:title, @item.title) %>

<h1>Dodaj przedmiot<br></h1>

    <div class="col-md-3">
      <%= link_to image_tag(@item.photo.url(:small)), @item.photo.url %>
    </div>
    
    <div class="col-md-9">
      Nazwa przedmiotu: <%= @item.title %><br>
      Cena: <%= @item.price %> zł<br>
      Ilosć wystawionych: <%= @item.how_many %> sztuk <br>
    </div>


<%= form_for(@order_item) do |f| %>
        <%= f.label :how_many, "Ile kupić", class: 'required' %>
        <%= f.number_field :how_many, class: 'form-control', :required => true %>
        
        <%= f.hidden_field :good_id, :value => @item.id %>
        
        <%= f.fields_for :order, @order do |s| %>
            <%= s.label :send_way_id, "Metoda wysyłki" %>
            <%= s.select :send_way_id, options_for_select(SendWay.where(:good_id => @item.id).pluck(:name, :id)) %>  
        <% end %>

        
        <%= f.submit "Przejdź do potwierdzenia", class: "btn btn-primary" %>
<% end %>










