<% provide(:title, 'Dane do przelewu') %>

<h1>Dane do przelewu<br></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="list-group">
      <%= form_for(@seller) do |f| %>
  
        <li class="list-group-item"><%= f.label :name, "Imię: " %><%= @seller.name %></li>
  
        <li class="list-group-item"><%= f.label :surname, "Nazwisko: " %><%= @seller.surname %></li>
  
        <li class="list-group-item"><%= f.label :address, "Adres: " %><%= @seller.address %></li>
  
        <li class="list-group-item"><%= f.label :post_code, "Kod pocztowy: "%><%= @seller.post_code %></li>
        
        <li class="list-group-item"><%= f.label :city, "Miejscowość: " %><%= @seller.city  %></li>
        
        <li class="list-group-item"><%= f.label :telephone, "Telefon: " %><%= @seller.telephone %></li>
        
        <li class="list-group-item"><%= f.label :account_number, "Numer konta: " %><%= @seller.account_number  %></li>
        
        <li class="list-group-item"><%= f.label :company_name, "Nazwa firmy: " %><%= @seller.company_name %></li>
        
        <li class="list-group-item"><%= f.label :company_address, "Adres firmy: " %><%= @seller.company_address %></li>
        
        <li class="list-group-item"><%= f.label :company_post_code, "Kod pocztowy firmy: "  %><%= @seller.company_post_code %></li>
        
        <li class="list-group-item"><%= f.label :company_city, "Miejscowość firmy: " %><%= @seller.company_city %></li>
        
        <li class="list-group-item"><%= f.label :company_number, "Telefon do firmy: " %><%= @seller.company_number  %></li>
      <% end %>
      </ul>
  </div>
</div>
