<% provide(:title, 'Edycja  ' + @good.title) %>
<h1><%= @good.title %></h1>
<h2>Edycja produktu</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@good, :html => { :multipart => true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :description, "Opis" %>
      <%= @good.description %><br>
      
      <%= f.label :price, "Cena" %>
      <%= @good.price %> zł<br><br>
      
      <%= f.label :how_many, "Ilosć" %>
      <%= f.number_field :how_many, class: 'form-control' %>
      
      <%= f.label :photo, "Zdjęcie" %>
      <%= f.file_field :photo %>
      
      <%= f.label :category_id, "Kategoria" %>
      <%= f.select :category_id, options_for_select(Category.pluck(:name, :id)) %>
 
      <%= f.submit "Zapisz", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>