<% provide(:title, @good.title) %>
<h1>Nowy produkt</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@good, :html => { :multipart => true }) do |f| %>
      <%= f.label :title, "Tytuł" %>
      <%= @good.title %>
      
      <%= f.label :description, "Opis" %>
      <%= @good.description %>
      
      <%= f.label :price, "Cena" %>
      <%= @good.price %> zł
      
      <%= f.label :how_many, "Ilosć" %>
      <%= @good.how_many %>
      
      <%= f.label :photo, "Zdjęcie" %>
      <%= link_to image_tag(@good.photo.url), @good.photo.url %>
      
      <%= f.label :category_id, "Kategoria" %>
      <%= Category.find_by(id: @good.category_id) %>
    <% end %>
  </div>
</div>