<%= form_for(@send_way) do |f| %>
  <% if @send_way.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@send_way.errors.count, "error") %> prohibited this send_way from being saved:</h2>

      <ul>
      <% @send_way.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :good_id %><br>
    <%= f.text_field :good_id %>
  </div>
  <div class="field">
    <%= f.label :how_many_days %><br>
    <%= f.number_field :how_many_days %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
