<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @send_way.name %>
</p>

<p>
  <strong>Good:</strong>
  <%= @send_way.good %>
</p>

<p>
  <strong>How many days:</strong>
  <%= @send_way.how_many_days %>
</p>

<p>
  <strong>Price:</strong>
  <%= @send_way.price %>
</p>

<%= link_to 'Edit', edit_send_way_path(@send_way) %> |
<%= link_to 'Back', send_ways_path %>
